@import 'tailwindcss';

:root {
  --primary-color: #152232;
  --secondary-color: #003147;
  --accent-color: #4d85fb;
  --background-color: #0b1621;
  --text-primary-color: #989cbd;
  --text-secondary-color: #c1c4db;
  --text-terciary-color: #6b6f95;
}

body {
  background-color: var(--background-color);
  color: var(--text-terciary-color);
}

@theme {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-background: var(--background-color);
  --color-accent: var(--accent-color);
  --color-neutral: var(--text-primary-color);
  --color-neutral-light: var(--text-secondary-color);
  --color-neutral-dark: var(--text-terciary-color);
}